{% set LOGBUCKET = "log-bucket-3-" + env["deployment"]  %}

resources:
#- type: storage.v1.bucket
- type: gcp-types/storage-v1:buckets
  name: beaconinc-log
  properties:
    predefinedAcl: projectPrivate
    projection: full
    location: europe-west2
    storageClass: NEARLINE
#- type: storage.v1.bucket
- type: gcp-types/storage-v1:buckets
  name: beaconinc-storage
  properties:
    predefinedAcl: projectPrivate
    projection: full
    location: europe-west2
    storageClass: NEARLINE
    defaultObjectAcl:
      - bucket: beaconinc-storage
        domain: www.google.com
        email: fullyjnr@gmail.com
        # 657686986194 is the number for project ccit-testing
        entity: project-editors-657686986194
        role: READER
        projectTeam:
          team: editors
          projectNumber: 657686986194
    cors:
      - maxAgeSeconds: 10
        method:
          - GET
          - POST
          - OPTIONS
        origin:
          - '*'
        responseHeader:
          - Content-Type
          - Last-Modified
          - Expires
    lifecycle:
      rule:
        - action:
            type: Delete
          condition:
            age: 30
            isLive: true
        - action:
            type: Delete
          condition:
            isLive: false
            numNewerVersions: 3
    logging:
      logBucket: beaconinc-log
      logObjectPrefix: log-prefix
    versioning:
      enabled: true
    website:
      mainPageSuffix: http://www.google.com/
      notFoundpage: http://www.google.com/not-found