resources:
- name: &SA_NAME my-vm-access
  type: service-account.jinja #Call service accounts 
- name: vm-1
  type: web-vm-template.jinja #Deploy first VM
  properties:
    serviceAccountId: *SA_NAME #Attach service account to deployment
- name: vm-2
  type: sql-vm-template.jinja
  properties:
    serviceAccountId: *SA_NAME #Attach service account to deployment
- name: debian-test
  type: debian-vm.jinja #Deploy debian vms