
#https://www.youtube.com/watch?v=h1LvACJWjKc
#https://cloud.google.com/dataproc/
#https://github.com/GoogleCloudPlatform/deploymentmanager-samples/blob/master/examples/v2/dataproc/dataproc.jinja

#Deploy dataproc for data processing capabilities with Hadoop and Spark 
resources:
- name: data-analysis
  type: dataproc.v1.cluster
  properties:
    region: europe-west2
    projectId: {{ env["project"] }}
    clusterName: cluster-1 #create a cluser
    config:
      gceClusterConfig:
        zoneUri: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/europe-west2-a
      masterConfig:
        numInstances: 1
        machineTypeUri: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/europe-west2-a/machineTypes/n1-standard-2
      workerConfig:
        numInstances: 2
        machineTypeUri: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/europe-west2-a/machineTypes/n1-standard-2
