resources:
  - name: beaconinc-dns
    type: dns.v1.managedZone #Deploys DNS 
    properties:
        description: A managed dns zone, for the mobile shooing deployment
        dnsName: beaconinc.com.
  - name: beaconinc-about-dns
    type: dns.v1.managedZone #Deploys DNS 
    properties:
        description: A managed dns zone, for the mobile shooing deployment
        dnsName: beaconinc-about.com.
