{% set BASE_NAME = env['deployment'] + '-' + env['name'] %}

resources:
- name: {{ BASE_NAME }}
  type: iam.v1.serviceAccount
  properties:
    accountId: {{ BASE_NAME }}
    displayName: {{ BASE_NAME }} service account

- name: set-account-roles
  action: gcp-types/iam-v1:iam.projects.serviceAccounts.setIamPolicy
  metadata:
    runtimePolicy:
    - CREATE
    dependsOn:
    -  {{ BASE_NAME }}
  properties:
    resource: $(ref.{{ BASE_NAME }}.name)
    policy:
      bindings:
      - role: 'roles/viewer'
        members:
        - serviceAccount:$(ref.{{ BASE_NAME }}.email)

outputs:
  - name: email
    value: $(ref.{{ BASE_NAME }}.email)