resources:
  - name: web-lb-hc-s #Create a health check for the backend
    type: compute.v1.httpsHealthCheck
    properties:
      port: 443
      requestPath: /
      
  - name: web-url-map-s #Required to map url to backend
    type: compute.v1.urlMap
    properties:
      defaultService: $(ref.backend-s.selfLink)
      
  - name: backend-s
    type: compute.v1.backendService #Deployment of backend for VM's 
    properties:
      port: 443
      portName: https
      protocol: HTTPS #Defeined HTTP port for communication with backends
      backends:
      - name: backend-s
        balancingMode: UTILIZATION
        capacityScaler: 1.0
        group: $(ref.web-ins-group.selfLink)
      maxUtilization: 0.8
      connectionDraining:
        drainingTimeoutSec: 300
      healthChecks: 
      - $(ref.web-lb-hc-s.selfLink)
  
  - name: web-http-proxy-s
    type: compute.v1.targetHttpsProxy
    properties:
      urlMap: $(ref.web-url-map-s.selfLink)
      sslCertificates: ["assessment-deployment14-example-ssl"]
  - name: web-ipaddress-s
    type: compute.v1.globalAddress
    
  - name: web-http-forwardingrule #Creation of forwarding rule 
    type: compute.v1.globalForwardingRule
    properties:
      target: $(ref.web-http-proxy-s.selfLink)
      IPAddress: $(ref.web-ipaddress-s.address)
      IPProtocol: TCP #Chosen protocol
      portRange: 443-443
      
