{% set topic = 'configurable-pubsub-topic-' + env['deployment'] %}
{% set subscription = env['deployment'] + '-' + env['name'] + '-subscription' %}

resources:
- name: beaconinc-topic
  #type: pubsub.v1.topic
  type: gcp-types/pubsub-v1:projects.topics
  properties:
    topic: beaconinc-topic
- name: beaconinc-subscription
  #type: pubsub.v1.subscription
  type: gcp-types/pubsub-v1:projects.subscriptions
  properties:
    subscription: beaconinc-subscription
    topic: $(ref.beaconinc-topic.name)