resources: #IAM service account for security, restricting actions that can be performed 
- name: {{ env['name'] }} #Using environment name for name of service account
  type: iam.v1.serviceAccount
  properties:
    accountId: {{ env['name'] }}
    displayName: serviceAccount-{{ env['name'] }}
