#https://github.com/GoogleCloudPlatform/deploymentmanager-samples/tree/master/google/resource-snippets/sqladmin-v1beta4

resources:
#app storage
- name: content-storage-instance-62 #First instance contains a database for site storage
  type: sqladmin.v1beta4.instance
  properties:
    region: europe-west2 #Deplo in London
    settings:
      tier: db-n1-standard-32 #Large storage, RAM, and CPU as this storage will have high deman from the webservers (VM's)
      backupConfiguration:
        binaryLogEnabled: true #Keep log
        enabled: true
     
- name: sql-site-storage-62
  type: sqladmin.v1beta4.database #Create database
  properties:
    name: sql-site-storage-62
    instance: $(ref.content-storage-instance-62.name)
    charset: utf8

#Storage for web user data
- name: customer-instance-62
  type: sqladmin.v1beta4.instance
  properties:
    region: europe-west2 #Deployed in London keeping to GDPA
    settings:
      tier: db-n1-standard-16 #Lower RAM, and CPU compared to above but same size 
      backupConfiguration:
        binaryLogEnabled: true
        enabled: true
        
- name: customer-storage-62
  type: sqladmin.v1beta4.database
  properties:
    name: customer-storage-62
    instance: $(ref.customer-instance-62.name)
    charset: utf8

#Storage for mobile user data
- name: mobile-customer-instance-62
  type: sqladmin.v1beta4.instance
  properties:
    region: europe-west2
    settings:
      tier: db-n1-standard-16 #Lower RAM, and CPU compared to content-storage-instance, but same storage size
      backupConfiguration:
        binaryLogEnabled: true
        enabled: true
        
- name: mobile-customer-storage-62
  type: sqladmin.v1beta4.database
  properties:
    name: mobile-customer-storage-62
    instance: $(ref.mobile-customer-instance-62.name)
    charset: utf8