#https://github.com/GoogleCloudPlatform/deploymentmanager-samples/tree/master/examples/v2/cloud_router

{% set ip_static = env["deployment"] + "-ip" %}
{% set ESP_RULE = env["deployment"] + "-esp-rule" %} #Use deployment details inside variables to make deployment specific instance names
resources:
- name: vpn-target-gateway #Create a VPN gateway
  type: compute.v1.targetVpnGateway
  properties:
    network: $(ref.beaconinc-network.selfLink) #set to private subnet where database are stored
    region: europe-west2
    
- name: {{ ip_static }} 
  type: compute.v1.address
  properties:
    region: europe-west2
    
- name: {{ ESP_RULE }} #create a forwarding rule for esp protocol
  type: compute.v1.forwardingRule
  properties:
    IPAddress: $(ref.{{ ip_static }}.address)
    IPProtocol: ESP
    region: europe-west2
    target: $(ref.vpn-target-gateway.selfLink)
    
- name: udp-port-4500-rule #create a forwarding rule for udp protocol in port range 4500
  type: compute.v1.forwardingRule
  properties:
    IPAddress: $(ref.{{ ip_static }}.address)
    IPProtocol: UDP
    portRange: 4500
    region: europe-west2
    target: $(ref.vpn-target-gateway.selfLink)
    
- name: udp-port-500-rule #create a forwarding rule for udp protocol in port range 500
  type: compute.v1.forwardingRule
  properties:
    IPAddress: $(ref.{{ ip_static }}.address)
    IPProtocol: UDP
    portRange: 500
    region: europe-west2
    target: $(ref.vpn-target-gateway.selfLink)
    
- name: cloud-router #cloud router to connection
  type: compute.v1.router
  properties:
    asn: 65001
    network: $(ref.beaconinc-network.selfLink)
    region: europe-west2
    
- name: vpn-tunnel #vpn tunnel for secrity and access with external connections 
  type: compute.v1.vpnTunnel
  properties:
    description: A vpn tunnel
    ikeVersion: 2
    peerIp: 1.2.3.4
    region: europe-west2
    router: $(ref.cloud-router.selfLink)
    sharedSecret: SuperSecret101
    targetVpnGateway: $(ref.vpn-target-gateway.selfLink)
  metadata:
    dependsOn:
    - {{ ESP_RULE }}
    - udp-port-500-rule
    - udp-port-4500-rule
    
# An action that its executed after the VPN_TUNNEL, it calls the method patch
# by ID on the descriptor document
# https://www.googleapis.com/discovery/v1/apis/compute/v1/rest

- name: router-to-vpn-connection
  action: gcp-types/compute-v1:compute.routers.patch
  properties:
    router: cloud-router
    region: europe-west2
    project: {{ env["project"] }}
    name: cloud-router
    asn: 65001
    interfaces:
    - ipRange: 169.254.1.1/31
      linkedVpnTunnel: $(ref.vpn-tunnel.selfLink)
      name: if-1